
<h1> Google Chart </h1>

<%= form_tag(content_block_helper_path('chart'), id: "chartHelperForm", method: "post") do %>

	<div class="row">
	  <div class="large-9 columns">
  <%= label_tag(:fulltext, "Script") %>
  <%= text_area_tag(:fulltext, "", placeholder: "Chart", size: "x10", autocomplete: "off") %>

  <%= submit_tag("Submit", class: "tiny radius success button") %> <a class="tiny radius info button custom-close-reveal-modal">Cancel</a>
		</div>
	</div>

<% end %>