<!-- Unordered List Form BEGIN -->


<h3> Headers </h3>
<div class="row">
	<div class="small-12 columns">

		<%= form_tag(content_block_helper_path('header'), id: "headerHelperForm", method: "post") do %>

		  <%= label_tag(:linetext, "Header Text") %>
		  <%= text_field_tag(:linetext, "", placeholder: "Header text".html_safe, size: "x10", autocomplete: "off") %>

		  <%= submit_tag("Submit", class: "tiny radius success button") %> <a class="tiny radius info button custom-close-reveal-modal">Cancel</a>
		<% end %>
	</div>
</div>

<div id="result"></div>
<!-- Unordered List Form END -->