<!-- BEGIN FIVE MINUTE SUMMARY SECTION INTRO-->

<div class="sectionWrapper" id="WPsummary">
  <div class="row contentbg">
    <div class="small-12 medium-10 columns small-centered">
      
      <div class="RAfull">
             
        <h4 data-magellan-destination="summary"></h4>
        <div id="backgroundShadeTop"></div>

				
				<%= yield %>


        <div id="backgroundShadeBottom"></div>
      </div>
    </div>
  </div>
</div>
<!-- END FIVE MINUTE SUMMARY SECTION INTRO-->