<!-- BEGIN FIVE MINUTE SUMMARY SECTION BACKGROUND-->
<a name="background"></a>
<div class="sectionWrapper" id="WPbackground">
  <div class="row contentbg">

    <div class="small-12 medium-3 columns">
      <div class="RAfull">
        <h4 data-magellan-destination="background" class="text-right">BACKGROUND</h4>
      </div>
    </div>

    <div class="small-12 medium-9 columns">
      <div class="RAfull">
      <%= yield %>
      </div>
    </div>
  </div>
</div>
<!-- END FIVE MINUTE SUMMARY SECTION BACKGROUND-->