<!-- BEGIN FULL AUDIT SECTION-->
<a name="<%= thissection.id %>"></a>
<h4 data-magellan-destination="<%= thissection.id %>"></h4>
<div class="sectionWrapper" id="WPexecutivesummary">
  <div class="row contentbg">
    <div class="small-12 medium-10 columns small-centered">
		<h2><%= thissection.display_name %></h2>
		
        <%= yield %>

    </div>
	</div>
</div>
<!-- END FULL AUDIT SECTION-->        