tests



<% content_for :admin_footer do %>
  

	<div class="small-1 columns text-right">
    <%= link_to audits_url do %>
      View All<br><strong>Audits</strong> 
    <% end %>
	</div>

	<div class="small-8 columns text-left">

	</div>

<% end %>
