<!-- BEGIN FULL AUDIT SECTION-->
<a name="<%= thissection.id %>"></a>
<div class="sectionWrapper" id="WPexecutivesummary">
  <div class="row contentbg">
    <div class="small-12 medium-10 columns small-centered">
      
        <h4 data-magellan-destination="<%= thissection.id %>"></h4>
        
        <h2><%= thissection.display_name %></h2>

					<% unless thissection.content_blocks.empty? %>

						<% thissection.block_order.each_with_index do |bid, index| %>
							<% thisblock = thissection.content_blocks.find(bid) # iterate through content blocks in order%>
							
								<%= thisblock.content.html_safe %>
							
						<% end %>

					<% end %>

    </div>
	</div>
</div>
<!-- END EXECUTIVE SUMMARY SECTION-->