<% content_for :title do %>
  List of Audits
<% end %>

<h1>Audits</h1>
<p>Find me in app/views/audits/index.html.erb</p>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<p><%= link_to "Create new audit", new_audit_url %></p>
<% @audits.each do |audit| %>
	<%= audit.name %> <%= link_to "View Five Minute Summary", five_minute_summary_url(audit.five_minute_summary) %><br><br>
<% end %>


