<% content_for :title do %>
  Audits List
<% end %>



<div class="row">
	<div class="small-10 small-centered columns">
		<h2>Los Angeles City Controller<br><strong>Audits</strong></h2>
		<div class="AdminSectionSpacer"></div>

		<% if flash[:notice] %>

				<div data-alert class="alert-box success round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
		<% end %>

		<%= render partial: "audit", collection: @audits, spacer_template: "audits_spacer" %>

	</div>
</div>


<% content_for :admin_footer do %>
  
	<div class="small-1 columns text-right admin-nav-active">
		All<br>
		<strong>Audits</strong> 
	</div>
	<div class="small-1 columns text-right end">
		<%= link_to new_audit_url do %>
			Create<br><strong>Audit</strong>
		<% end %>
	</div>

<% end %>

