<% content_for :title do %>
  Five Minute Summary for <%= @audit.name %>
<% end %>

<p>
Five Minute Summary for <%= @audit.name %><br>

<% @audit.five_minute_summary.sections.order_by(:position.asc).each do |s| %>
	<%= s.display_name %><br>
<% end %>

</p>

