// Place all the styles related to the audits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backpanel {
	border: 1px dotted #000;
	margin: 0.5em 0em;
	padding: 0.5em 2em;
}
